html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
}

.wrapper {
    height: 100%;
    width: 100%;
}

header {
    /*height: 3em;*/
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#minesweeper {
    table-layout: fixed;
    max-width: 400px;
    max-height: 400px;
}

#minesweeper > div {
    display: table-row;
}

#minesweeper > div > div {
    background-color: #dddddd;
    border: 2px solid #bbb;
}

.empty_cell {
    background-color: #ffffff !important;
}

.cell_mine {
    background-color: #a80114 !important;
    color: #ffffff;
}

.cell_number_1 {
    background-color: #fff !important;
    color: #00ff09;
}

.cell_number_2 {
    background-color: #fff !important;
    color: #e7ff00;
}

.cell_number_3 {
    background-color: #fff !important;
    color: #ffac00;
}

.cell_number_4 {
    background-color: #fff !important;
    color: #ff1800;
}

@media screen and (orientation:portrait) {
    #minesweeper {
        width: calc(100vw - 2em);
        height: calc(100vw - 2em);
    }
}

@media screen and (orientation:landscape) {
    #minesweeper {
        width: calc(100vh - 2em);
        height: calc(100vh - 2em);
        float: left;
    }
    #score {
        /*margin-left: calc(-100vw / 2 + 500px / 2);*/
        float: left;
    }
}
